{% extends "./layout/base.html" %}

{% block content%}
<a href="/diary/draw">Draw Diary</a>
<div>
<div class="flex flex-wrap overflow-hidden">
    <div class="w-1/3 overflow-hidden">
      <!-- Column Content -->
    </div>
  
    <div class="w-1/3 overflow-hidden">
      <!-- Column Content -->
    </div>
  
    <div class="w-1/3 overflow-hidden">
      <!-- Column Content -->
    </div>
  
    <div class="w-1/3 overflow-hidden">
      <!-- Column Content -->
    </div>
  
    <div class="w-1/3 overflow-hidden">
      <!-- Column Content -->
    </div>
  
    <div class="w-1/3 overflow-hidden">
      <!-- Column Content -->
    </div>
  
    <div class="w-1/3 overflow-hidden">
      <!-- Column Content -->
    </div>
  
    <div class="w-1/3 overflow-hidden">
      <!-- Column Content -->
    </div>
  
    <div class="w-1/3 overflow-hidden">
      <!-- Column Content -->
    </div>
  
  </div>
</div>
{% endblock %}