<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drawing Diary:그림일기</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css"
      integrity="sha512-IJEbgDEF7OeKJRa0MY2PApnyJHRIsgzCveek4ec8VWQ+7KG3ZSKVNYa5xP/Gh0hVP0Mwb+gBsk+GwR3JQGhQNg=="
      crossorigin="anonymous" />
    <meta name="google-signin-client_id"
      content="368109819123-t7jsivnr1gs4dmav2fu32i989vumfgpd.apps.googleusercontent.com">

  </head>
  <style>
    /* navigation 
 - show navigation always on the large screen devices with (min-width:1024)
*/

    @media (min-width: 1024px) {
      .top-navbar {
        display: inline-flex !important;
      }
    }
  </style>

  <body>
    <nav class="flex items-center bg-gray-800 p-3 flex-wrap">
      <a href="#" class="p-2 mr-4 inline-flex items-center">
        <img src="/img/diary.svg" alt="diary" width="30px" height="30px" style="margin-right:10px">

        <span class="text-xl text-white font-bold uppercase tracking-wide">Painting Diary</span>
      </a>
      <button
        class="text-white inline-flex p-3 hover:bg-gray-900 rounded lg:hidden ml-auto hover:text-white outline-none nav-toggler"
        data-target="#navigation">
        <i class="material-icons">menu</i>
      </button>
      <div class="hidden top-navbar w-full lg:inline-flex lg:flex-grow lg:w-auto" id="navigation">
        <div
          class="lg:inline-flex lg:flex-row lg:ml-auto lg:w-auto w-full lg:items-center items-start  flex flex-col lg:h-auto">
          <a href="/"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white">
            <span>Home</span>
          </a>

          <a href="/diary"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white">
            <span>Diary</span>
          </a>
          <a href="/user/login"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white">
            <span>Log in</span>
          </a>
          <a href="/user/register"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white">
            <span>Register</span>
          </a>
          <a href="https://github.com/so0choi"
            target="_blank"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white">
            <span>Developer</span>
          </a>

        </div>
      </div>
    </nav>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"
      integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function () {
        $(".nav-toggler").each(function (_, navToggler) {
          var target = $(navToggler).data("target");
          $(navToggler).on("click", function () {
            $(target).animate({
              height: "toggle"
            });
          });
        });
      });

    </script>
    <div class="body__container">

      {% block content%}{% endblock %}
    </div>
  </body>
  <script src="/js/main.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>

</html>